<nav class="navbar navbar-full navbar-dark bg-inverse">


  <ul class="nav navbar-nav">

 <!--   <li class="nav-item">
      <a class="nav-link" routerLink="NewRun" routerLinkActive="active">New Run</a>
    </li>
-->
    <li class="nav-item">
      <a class="nav-link" routerLink="CurrentRuns" routerLinkActive="active">Current runs</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="Results" routerLinkActive="active">Results</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="TestsList" routerLinkActive="active">Tests list</a>
    </li>

  </ul>


  <ul class="nav navbar-nav pull-xs-right">
   <button class="btn btn-outline-success" type="submit">Login</button>
  </ul>
</nav>

<router-outlet></router-outlet>