<h1> Current Runs </h1>


<table class="table  table-sm table-striped">
    <tr>
        <td>
            <div class="text-xs-center" id="example-caption-1">X2510 ; 12.0 ; Sizing</div>
            <progress class="progress progress-striped progress-animated" value="10" max="100"></progress>
        </td>
         <td class="bg-info">
            <i class="fa fa-refresh fa-spin fa-fw"></i>
            Running 2/20
        </td>
    </tr>
    <tr>  

    <tr>
       <td>
           <div class="text-xs-center" id="example-caption-1">X4510 ; 12.0 ; Sizing</div>
           <progress class="progress progress-striped progress-success" value="100" max="100"></progress>
       </td>
       <td class="bg-success">Done 20/20</td>
    </tr>
     
     <tr>
       <td>
           <div class="text-xs-center" id="example-caption-1">X6510 ; 12.0 ; Sizing</div>
           <progress class="progress progress-striped progress-danger" value="20" max="100"></progress>
       </td>
       <td class="bg-danger">Failed 4/20</td>
    </tr>   
   
</table>

<div>Check status (every 5 second) : {{ticks}}</div>

